body {
    padding: 0;
    margin: 0;
    background-color: #121212!important;
} 

a {
    text-decoration: none!important;
}

::placeholder {
    font-size: x-small;
}

.nopadding {
    padding: 0 16px!important;
    margin: 0!important;
}

.nav-link:hover {
    transform: scale(1.1);
    color: white!important;
}

.cover {
    width: 100%;
}